<form (ngSubmit)="onUpload()">
  <div class="form-group">
    <label for="file">File</label>
    <input
      id="file"
      type="file"
      class="form-control"
      (change)="onFileChange($event.target.files)"
    />
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<div class="valid-upload-message" *ngIf="validUpload && result">
  Er zijn {{ result.newCourses }} cursussen en {{ result.newInstances }} cursusinstanties
  toegevoegd.
</div>
<div class="duplicate-message" *ngIf="result && result.duplicates > 0">Er zijn {{ result.duplicates }} duplicaten tegengekomen.</div>
<div class="error-message" *ngIf="!validUpload">{{ result.errorMessage}}</div>
